[submodule "lisp/use-package"]
	path = lisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "themes/solarized"]
	path = themes/solarized
	url = https://github.com/bbatsov/solarized-emacs.git
